{% extends "pizza/base.html" %}
{% block 'body' %}

    {% load widget_tweaks %}

    <div class="container">
    <h1>Order a Pizza!!</h1>

    <h2>{{ note }}</h2>

    {% if created_pizza_pk %}
    <a href = "{% url 'edit_order' created_pizza_pk %}">Edit Your Order</a>
    {% endif %}

    <form action="{% url 'order' %}" method="post">
        {% csrf_token %}

        {% for field in pizzaform %}
        <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
        </div> 
        {% endfor %}

        <br>
        <input type="submit" value="Place a Order">
    </form>

    <br><br>

    <h4>Want order more than one pizza?</h4>

    <form action= "{% url 'pizzas' %}" method="get">
        
        {{ multiple_form }}
        
        <br>
        <input type="submit" value="Get Pizza">
    </form>
</div>

{% endblock %}

{% comment %} <h1>Order a Pizza!!</h1>

<h2>{{ note }}</h2>

{% if created_pizza_pk %}
<a href = "{% url 'edit_order' created_pizza_pk %}">Edit Your Order</a>
{% endif %}

<form action="{% url 'order' %}" method="post">
    {% csrf_token %}
    <table>
    {{ pizzaform.as_table }}
    </table>

    {% comment %} {{ pizzaform.topping1.label_tag }}
    {{ pizzaform.topping1 }}
    {{ pizzaform.topping1.errors }}
    {{ pizzaform.topping2.label_tag }}
    {{ pizzaform.topping2 }}
    {{ pizzaform.topping2.errors }}
    <label for="{{ pizzaform.size.id_for_label}}">Size:</label>
    {{ pizzaform.size }}
    {{ pizzaform.size.errors }} {% endcomment %}

    {% comment %} <br>
    <input type="submit" value="Place a Order">
</form>

<br><br>
Want order more than one pizza?

<form action= "{% url 'pizzas' %}" method="get">
    <table>
    {{multiple_form.as_table}}
    </table>
    <br>
    <input type="submit" value="Get Pizza">
</form> {% endcomment %}





{% comment %} <html>
<h1>Order a Pizza!!</h1>

<form action="{% url 'order' %}" method="post">
    {% csrf_token %}
    <label for="topping1">Topping 1: </label>
    <input id="topping1" type="text" name="topping1">

    <label for="topping2">Topping 2: </label>
    <input id="topping2" type="text" name="topping2">

    <lable for="size">Size: </label>
        <select id="size" name="size">
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
        </select>
    <input type="submit" value="Place Order">

</form>

</html> {% endcomment %}